.atas {
    position: fixed;
    top: 0px;left: 0px;right: 0px;
    line-height: 65px;
    z-index: 2;
}
.atas .title {
    font-size: 22px;
    float: left;
    margin: 0;
    margin-left: 5%;
}
.atas .pencarian {
    margin: 0;
    margin-right: 5%;
}
.atas .pencarian .box {
    border: none;
    border-radius: 6px;
    background-color: #2980b9;
    color: #fff;
    width: 88.5%;
    padding: 1px 45px 1px 25px;
}
.atas .pencarian #cari {
    margin-left: -40px;
    padding: 0px;
    background: none;
    color: #fff;
}
.atas .pencarian .box:focus {
    background-color: #fff;
    color: #444;
}

.container {
    position: absolute;
    top: 130px;right: 5%;left: 30%;
    margin-bottom: 50px;
}
.container a { 
    text-decoration: none;
    color: #444;
}
.event {
    vertical-align: top;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #ddd;
    display: inline-block;
    width: 32.2% !important;
}
.event .cover {
    height: 200px;
    background-size: cover !important;
    background-position: center center !important;
}

.filter {
    position: fixed;
    top: 130px;left: 5%;
    width: 20%;
    background-color: #fff;
    color: #444;
}
#toggleFilter { display: none; }

@media (max-width: 480px) {
    .atas .pencarian {
        position: fixed;
        top: 65px;left: 0px;right: 0px;
        background-color: #fff;
        padding: 10px;
        width: 95%;
        color: #444;
        top: -50%;
        transition: 0.4s;
    }
    .atas .pencarian .box {
        margin: 0;
        width: 82%;
        background-color: #ecf0f1;
    }
    .atas .pencarian #cari { display: none; }
    .container { left: 5%;right: 5%;top: 100px; }
    .event {
        width: 100% !important;
        margin-bottom: 15px;
    }
    #toggleFilter {
        display: block;
        position: fixed;
        bottom: 5%;right: 6.5%;
        width: 60px;
        line-height: 60px;
        font-size: 20px;
        text-align: center;
        border-radius: 120px;
        background-color: #3498db;
        color: #fff;
        z-index: 1;
    }
    .filter {
        position: fixed;
        top: 63px;left: 0px;right: 0px;
        z-index: 1;
        width: 90%;
        top: -100%;
        transition: 0.4s;
    }
    #toggleSearch { margin-right: 5%;font-size: 20px; }
}